@import url(http://fonts.googleapis.com/css?family=Neucha);
@import url(http://fonts.googleapis.com/css?family=Special+Elite);
/* line 5, ../../../.gem/ruby/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.gem/ruby/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.gem/ruby/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.gem/ruby/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.gem/ruby/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.gem/ruby/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.gem/ruby/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.gem/ruby/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.gem/ruby/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 6, ../scss/navbar.scss */
.navbar {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: Neucha, arial;
  padding: 10px 5px;
  z-index: 10;
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  background-color: #9190fe;
}
/* line 19, ../scss/navbar.scss */
.navbar .nav {
  text-align: center;
  color: #fff;
}
/* line 22, ../scss/navbar.scss */
.navbar .nav li {
  display: inline-block;
  margin: 10px 10px;
}
/* line 26, ../scss/navbar.scss */
.navbar .nav li > * {
  color: #fff;
}
/* line 29, ../scss/navbar.scss */
.navbar .nav li > *:hover {
  color: #075757;
  cursor: pointer;
}

/*Style 'show menu' label button and hide it by default*/
/* line 41, ../scss/navbar.scss */
.show-menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background: #6665fa;
  text-align: center;
  padding: 10px 0;
  display: none;
}

/*Hide checkbox*/
/* line 52, ../scss/navbar.scss */
input#show-menu[type=checkbox] {
  display: none;
}

/*Show menu when invisible checkbox is checked*/
/* line 57, ../scss/navbar.scss */
input#show-menu[type=checkbox]:checked ~ .nav {
  display: block;
}

/*Responsive Styles*/
@media screen and (max-width: 760px) {
  /*Make dropdown links appear inline*/
  /* line 66, ../scss/navbar.scss */
  .nav {
    position: static;
    display: none;
  }

  /*Create vertical spacing*/
  /* line 71, ../scss/navbar.scss */
  .nav-item {
    margin-bottom: 1px;
  }

  /*Make all menu links full width*/
  /* line 75, ../scss/navbar.scss */
  .nav .nav-item, li a {
    width: 100%;
  }

  /*Display 'show menu' link*/
  /* line 79, ../scss/navbar.scss */
  .show-menu {
    display: block;
  }
}
/* line 84, ../scss/navbar.scss */
html {
  margin-top: 60px;
}

@media screen and (min-width: 1000px) {
  /* line 6, ../scss/banner.scss */
  .default-style, .presentation {
    margin-top: 70px;
    background-color: #61b2b7;
    position: relative;
    min-height: 300px;
  }
  /* line 14, ../scss/banner.scss */
  .default-style:after, .presentation:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    right: 0;
    background-color: #00f0ff;
  }
  /* line 24, ../scss/banner.scss */
  .default-style .logo, .presentation .logo {
    z-index: 5;
    position: absolute;
    left: 50%;
    margin-left: -7.5%;
    margin-top: 50px;
    position: absolute;
  }
  /* line 34, ../scss/banner.scss */
  .default-style img, .presentation img {
    border-radius: 50%;
  }

  /* line 39, ../scss/banner.scss */
  .repolist ul li, li a {
    display: inline-block;
  }

  /* line 42, ../scss/banner.scss */
  .presentation {
    min-width: 1000px;
    width: 100%;
  }
}
@media screen and (max-width: 999px) {
  /* line 51, ../scss/banner.scss */
  .repolist ul li, li a {
    display: block;
  }

  /* line 54, ../scss/banner.scss */
  .presentation {
    display: inline-block;
    max-width: 999px;
    width: 100%;
    margin-top: 70px;
    background-color: #61b2b7;
    position: relative;
    min-height: 300px;
    vertical-align: middle;
  }
  /* line 64, ../scss/banner.scss */
  .presentation .logo {
    z-index: 5;
    padding-top: 50px;
  }
  /* line 70, ../scss/banner.scss */
  .presentation img {
    border-radius: 50%;
  }
}
/* line 76, ../scss/banner.scss */
input#show-projects[type=checkbox] {
  display: none;
}

/*Show menu when invisible checkbox is checked*/
/* line 81, ../scss/banner.scss */
input#show-projects[type=checkbox]:checked ~ .contend {
  display: block;
}

/* line 84, ../scss/banner.scss */
.show-projects {
  display: inline-block;
  padding: 10px 20px 10px 20px;
  background-color: #0051ff;
  border-radius: 5px;
  color: #fff;
}
/* line 91, ../scss/banner.scss */
.show-projects:hover {
  cursor: pointer;
  background-color: #83aaff;
}

/* line 98, ../scss/banner.scss */
.some-projects > .contend {
  display: none;
  margin: 50px auto 20px;
  border-radius: 5px;
  width: 80%;
}

/* line 107, ../scss/banner.scss */
.some-projects {
  text-align: center;
  display: inline-block;
  margin-top: 50px;
  padding: 10px 30px 20px 30px;
  width: 100%;
}

/* line 116, ../scss/banner.scss */
.avi {
  margin: 10px 20px 10px 20px;
}
/* line 118, ../scss/banner.scss */
.avi img {
  box-shadow: 1px 2px 3px #000;
}

/* repositores list */
/* line 124, ../scss/banner.scss */
.repolist {
  display: block;
  clear: both;
  width: 80%;
  margin: auto;
  padding: 20px;
}

/* line 131, ../scss/banner.scss */
.repolist ul {
  font-size: 0.9em;
}

/* line 134, ../scss/banner.scss */
.repolist ul li a {
  padding: 6px 10px 9px;
  margin: 10px 5px 10px;
  border-radius: 3px;
  color: #fff;
  background-color: #3673af;
}

/* line 144, ../scss/banner.scss */
.repolist ul li a:hover {
  background-color: #396895;
}

/* line 148, ../scss/banner.scss */
.repolist ul li a span {
  font-family: "Courier New", Courier, "Lucida Typewriter", monospace;
  font-size: 0.9em;
}

/* -------------------------------- 

Primary style

-------------------------------- */
/* line 67, ../scss/timeline.scss */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 72, ../scss/timeline.scss */
*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 76, ../scss/timeline.scss */
body {
  font-size: 100%;
  font-family: "Droid Serif", serif;
  color: #7f8c97;
  background-color: #e9f0f5;
}

/* line 85, ../scss/timeline.scss */
a {
  color: #acb7c0;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

/* line 91, ../scss/timeline.scss */
img {
  max-width: 100%;
}

/* line 95, ../scss/timeline.scss */
h1, h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

/* line 99, ../scss/timeline.scss */
.list-group .list-group-item {
  line-height: 30pt;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
/* line 108, ../scss/timeline.scss */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
/* line 113, ../scss/timeline.scss */
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
/* line 128, ../scss/timeline.scss */
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
/* line 136, ../scss/timeline.scss */
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #b4ccdd;
}
@media only screen and (min-width: 1170px) {
  /* line 128, ../scss/timeline.scss */
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  /* line 153, ../scss/timeline.scss */
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

/* line 160, ../scss/timeline.scss */
.cd-timeline-block {
  position: relative;
  margin: 2em 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 166, ../scss/timeline.scss */
.cd-timeline-block:first-child {
  margin-top: 0;
}
/* line 170, ../scss/timeline.scss */
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  /* line 160, ../scss/timeline.scss */
  .cd-timeline-block {
    margin: 4em 0;
  }
  /* line 177, ../scss/timeline.scss */
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  /* line 181, ../scss/timeline.scss */
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

/* line 187, ../scss/timeline.scss */
.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #ffffff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
/* line 196, ../scss/timeline.scss */
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
/* line 207, ../scss/timeline.scss */
.cd-timeline-img.cd-picture {
  background: #75ce66;
}
/* line 211, ../scss/timeline.scss */
.cd-timeline-img.cd-movie {
  background: #c03b44;
}
/* line 215, ../scss/timeline.scss */
.cd-timeline-img.cd-location {
  background: #f0ca45;
}
@media only screen and (min-width: 1170px) {
  /* line 187, ../scss/timeline.scss */
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  /* line 229, ../scss/timeline.scss */
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  /* line 233, ../scss/timeline.scss */
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -moz-animation: cd-bounce-1 0.6s;
    -webkit-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* line 256, ../scss/timeline.scss */
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: #ffffff;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
  overflow: hidden;
  *zoom: 1;
}
/* line 266, ../scss/timeline.scss */
.cd-timeline-content h2 {
  color: #303e49;
}
/* line 270, ../scss/timeline.scss */
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
/* line 274, ../scss/timeline.scss */
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
/* line 278, ../scss/timeline.scss */
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
/* line 283, ../scss/timeline.scss */
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: #ffffff;
  border-radius: 0.25em;
}
/* line 290, ../scss/timeline.scss */
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
/* line 295, ../scss/timeline.scss */
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
/* line 301, ../scss/timeline.scss */
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #ffffff;
}
@media only screen and (min-width: 768px) {
  /* line 313, ../scss/timeline.scss */
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  /* line 317, ../scss/timeline.scss */
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  /* line 321, ../scss/timeline.scss */
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  /* line 256, ../scss/timeline.scss */
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  /* line 331, ../scss/timeline.scss */
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #ffffff;
  }
  /* line 338, ../scss/timeline.scss */
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  /* line 342, ../scss/timeline.scss */
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  /* line 350, ../scss/timeline.scss */
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  /* line 353, ../scss/timeline.scss */
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #ffffff;
  }
  /* line 361, ../scss/timeline.scss */
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  /* line 365, ../scss/timeline.scss */
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  /* line 372, ../scss/timeline.scss */
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  /* line 376, ../scss/timeline.scss */
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -moz-animation: cd-bounce-2 0.6s;
    -webkit-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  /* line 385, ../scss/timeline.scss */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -moz-animation: cd-bounce-2-inverse 0.6s;
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
/* line 2, ../scss/formulario.scss */
.form {
  max-width: 500px;
  width: 100%;
  margin: 30px auto;
}

/* line 9, ../scss/formulario.scss */
.form-group {
  padding: 0 0 15px 0;
}

/* line 13, ../scss/formulario.scss */
.form-control {
  background-color: #fff;
  cursor: text;
  border: solid 1px #dedede;
  box-sizing: border-box;
  color: #4c4c4c;
  height: 40px;
  outline: none;
  padding: 8px 15px;
  width: 100%;
}

/* line 27, ../scss/formulario.scss */
.form-control:focus {
  border: solid 1px #4409f6;
}

/* line 31, ../scss/formulario.scss */
input::-webkit-input-placeholder {
  text-transform: uppercase;
  font-style: bold;
}

/* line 36, ../scss/formulario.scss */
input::-moz-placeholder {
  text-transform: uppercase;
  font-style: bold;
}

/* line 41, ../scss/formulario.scss */
.control-label {
  display: none;
}

/* line 45, ../scss/formulario.scss */
.sign-in {
  width: 100%;
  background-color: #14b9d6;
  border: solid 1px transparent;
  color: #fff;
  height: 42px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  transition: background-color 0.5s;
}

/* line 57, ../scss/formulario.scss */
.sign-in:hover {
  background-color: #d409f6;
  cursor: pointer;
}

/* line 62, ../scss/formulario.scss */
.alert {
  display: inline-block;
  color: #fff;
  width: 100%;
  padding: 5px 10px 5px 10px;
  margin: -5px -10px -5px -10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10pt;
  height: 16px;
}

/* line 75, ../scss/formulario.scss */
.alert-error {
  background-color: #FA8072;
}

/* line 80, ../scss/formulario.scss */
textarea {
  resize: vertical;
  max-height: 300px;
  min-height: 200px;
}

/* line 81, ../scss/formulario.scss */
textarea.horiz {
  resize: horizontal;
  max-width: 400px;
  min-width: 200px;
}

/* line 83, ../scss/formulario.scss */
#contato {
  text-align: center;
  display: inline-block;
  width: 100%;
  min-height: 80px;
  background-color: #578cfe;
}

/* line 91, ../scss/formulario.scss */
#contato .title {
  margin-top: 30px;
  color: #fff;
  text-transform: uppercase;
}

/* line 3, ../scss/extra.scss */
.somethig-extra {
  display: block;
  min-height: 50px;
  width: 100%;
  background-color: #fda237;
  padding: 20px 10px 20px;
  text-align: center;
}

/* line 13, ../scss/extra.scss */
.trigger {
  display: inline-block;
  background-color: #fcfd47;
  width: 200px;
  height: 40px;
  border-radius: 3px;
  text-align: center;
  padding: 10px 5px 10px;
  font-family: "Special Elite",cursive;
  color: #000;
}
/* line 25, ../scss/extra.scss */
.trigger:hover {
  background-color: #2afe62;
  cursor: pointer;
}

/* line 30, ../scss/extra.scss */
.contend {
  display: none;
}
